body {
	font-family: "PT Sans";
	background: #000;
	color: #fff;
	margin: 50px;
}

a {
	color: #fff;
}

p {
	font-size: 16px;
	line-height: 1.5em;
}

.page-title {
	font-size: 48px;
	font-family: "Doppio One";
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

.page-intro {
	margin: 50px auto 100px;
	text-align: center;
	width: 80%;
	max-width: 800px;
}

.box {
	overflow: hidden;
}

.box img {
	width: 100%;
	opacity: 0;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.box img.show {
	opacity: 1;
}

.box:hover img.show {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}