body {
	font-family: "PT Sans";
	background: #000;
	color: #fff;
	margin: 50px;
}

a {
	color: #fff;
}

p {
	font-size: 16px;
	line-height: 1.5em;
}

.page-title {
	font-size: 48px;
	font-family: "Doppio One";
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

.page-intro {
	margin: 50px auto 100px;
	text-align: center;
	width: 80%;
	max-width: 800px;
}

.box {
	overflow: hidden;
}

.box img {
	width: 100%;
	opacity: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.box:hover img {
	opacity: 0.5;
}