body {
	font-family: "PT Sans";
	background: #000;
	color: #fff;
	margin: 50px;
	min-width: 768px;
}

a {
	color: #fff;
}

p {
	font-size: 16px;
	line-height: 1.5em;
}

.page-title {
	font-size: 48px;
	font-family: "Doppio One";
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	display: none;
}

.image-header {
	max-width: 100%;
	height: auto;
}

.page-intro {
	margin: 50px auto 100px;
	text-align: center;
	width: 80%;
	max-width: 800px;
}

.addthis_sharing_toolbox {
	min-height: 40px;
}

.box {
	/*overflow: hidden;*/
}

.box img {
	width: 100%;
	opacity: 0;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.box img.show {
	opacity: 1;
}

.box:hover {
	position: relative;
	z-index: 2;
}

.box:hover img.show {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.box.size22:hover img.show,
.box.size23:hover img.show,
.box.size32:hover img.show {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}